@model EstiemPortal6.Models.News


<td>
    @{string imageurl = "https://www.estiem.org/" + @Model.ImageUrl; }
    <img width="100" height="60"src="@imageurl"/>
</td>
<td>
<span>@Html.ActionLink(Model.Title, "NewsItem", new { id = Model.Id }, new { @class="greentext"})</span>
<div>@Html.Raw(Model.Preview)</div>
</td>
