@model IQueryable<EstiemPortal6.ViewModels.ParticipantsViewModel>


<h2>Participants of @Model.First().EventName</h2>
Todo: Make columns sortable
<div class="row">
    <div class="col-sm-3">
        Name
    </div>
    <div class="col-sm-3">
        Local Group
    </div>
    <div class="col-sm-3">
       Registration Status
    </div>
    <div class="col-sm-3">
        Application Date
    </div>
</div>
@foreach (var pax in Model)
{
    <div class="row">
        <div class="col-sm-3">
            @pax.Name
        </div>
        <div class="col-sm-3">
            @pax.LocalGroup
        </div>
        <div class="col-sm-3">
            @switch (pax.RegistrationStatus)
            {
                case 0:
                    <span>Registered</span>
                    break;
                case 1:
                    <span>Waiting </span>
                    break;
                case 2:
                    <span>Canceled </span>
                    break;
                case 3:
                    <span>CanceledAfterDeadLine </span>
                    break;
                case 4:
                    <span>DidNotShowUp </span>
                    break;
                case 5:
                    <span>Organizer </span>
                    break;
                case 6:
                    <span>ApplicationWithdrawn </span>
                    break;
            }

</div>
        <div class="col-sm-3">
            @pax.ApplicationDate
        </div>
    </div>
}
