@estiemgreen: #205E44;
@greenaccent1: #508971;
@greenlight: #69A58E;
@greenaccent2: #A5C9BB;
@primarygray: #808285;
@greensilver: #A5AFAB;
@gray20: #D1D5D6;
@gray10: #E8EAEA;

.event-box {
    background-color: @gray10;
    cursor: pointer;
    border: 1px solid rgb(188,206,199);
    margin-top: 10px;
    font-weight: bold;
    font-size: medium;
    margin-bottom: 0px;
}

.event-details1
{

    color: @estiemgreen;
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;

}

.eventinfobox
{
    background-color: @estiemgreen;
    color:@gray10;
    margin-top:0px;
}

.event-description
{
    border:1px;
    border-color:@estiemgreen;
}

.main-menu
{
    
    background-color: rgb(32,94,68);
    top: 0;
}

.main-menu a 
{
    color: @gray10;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.navbar-toggle
{
    position:relative;
    float:right;
    padding:9px 10px;
    margin-top:8px;
    margin-right:15px;
    margin-bottom:8px;
    background-color:@greensilver;
    border-radius:4px;
    border-color:@gray10;
}