@model IQueryable<EstiemPortal6.ViewModels.FriendsViewModel>

@foreach (var item in Model)
{
    <div class="friendslist">
        <b>@item.Name</b> applied for
        <b>@item.EventName</b>
    </div>
}

