@model IEnumerable<EstiemPortal6.ViewModels.StatsViewModel>

<div>
    <table id="loggedintable">
        <thead>
            <tr>
                <th class="col-xs-3">
                    <span>LG Name</span>
                </th>
                <th class="col-xs-3">
                    <span>Logged In Last Month</span>
                </th>
                <th class="col-xs-3">
                    <span>Logged in Last 3 Months</span>
                </th>
                <th class="col-xs-3">
                    <span>Logged in Last Year</span>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var lg in Model)
            {
                <tr>
                    <td class="col-xs-3">
                        @lg.Name
                    </td>
                    <td class="col-xs-3">
                        @lg.LoggedInLastMonth
                    </td>
                    <td class="col-xs-3">
                        @lg.LoggedInLast3Months
                    </td>
                    <td class="col-xs-3">
                        @lg.LoggedInLastYear
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/Scripts/jquery-3.1.0.min.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" charset="utf8">
    $(document).ready( function () {
        $('#loggedintable').dataTable({
            "pageLength": 25    
        });
    } );
</script>
